@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body{
  background-color: #141414;
  color: #ffc300;
  font-family: 'Josefin Sans', sans-serif;
}

header{
  background-color: black;
  color: #ffc300;
  width: auto;
}

.navbar{
  background-color: black;
  font-family: 'Paytone One', sans-serif;
}

header .navbar hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 8%;
  width: 100%;
  float: left;
  background-color: black;
}

.link {
  padding: 10px;
  margin: 0 0 0 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ffc300;
  border-radius: 5px;
  font-size: 20px;
}

.link:hover {
  color: black;
  transition: 2s;
  text-decoration: none;

}

.img{
  cursor: pointer;
}

.result{
  padding: 25px;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filmesLista:hover img{
  width: 120%;
}

.movies{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filmesLista{
  max-width: 300px;
}

/* MODAL */
.modall{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
}
.imgBoxModal img{
  width: 100%;
}
.tMod{
  font-size: 3rem;
  color: white;
  text-shadow:   
    0 0 42px rgb(225, 225, 225),
    0 0 82px rgb(225, 225, 225);
  text-align: center;
}
.descr{
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  max-width: 80%;
  text-align: center;
}
.closeBtn{
  background-image: url('../assets/icon-x-lg.svg');
  background-size: cover;
  width: 100px;
  height: 100px;
  filter: invert(1);
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 5%;
}
.imgBoxModal img{
  box-shadow: 0px 0px 30px 10px rgba(255,255,255,0.75);
}

h4{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
h3{
  margin-top: 3rem;
  font-size: 50px;
}

.form__input {
  padding: 4px 40px;
  display: flex;
  align-items: center;
}
