@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}
p{
  margin-bottom: 0;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #2C0735;
}

.hdr{
  background-color: #4E148C;
  justify-content: space-around;
  align-items: center;
  color: #97DFFC;
}
.linkBox{
  display: flex;
  gap: 3rem;
  align-items: center;
}
.userBox{
  display: flex;
  align-items: center;
}
.userImg{
  background-image: url('../assets/person-circle.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-left: 1rem;
}


.carousel .carousel-item{
  height: 70vh;
  z-index: -1;
}
.carousel-item img{
  object-fit: cover;
  width: 50vw;
  object-position:35%;
  z-index: -1;
}


.movieGrid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}

.movieCard{
  width: 200px;
}
.movieCard img{
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
}

/* MODAL */
.modall{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
}
.imgBoxModal img{
  width: 100%;
}
.tMod{
  font-size: 5rem;
  color: white;
  text-shadow:   
    0 0 42px rgb(225, 225, 225),
    0 0 82px rgb(225, 225, 225);
}
.descr{
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  max-width: 80%;
  text-align: center;
}
.closeBtn{
  background-image: url('../assets/icon-x-lg.svg');
  background-size: cover;
  width: 100px;
  height: 100px;
  filter: invert(1);
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 5%;
}
.imgBoxModal img{
  border-radius: 30px;
  box-shadow: 0px 0px 30px 10px rgba(255,255,255,0.75);
}


/* 
CORES: 
 darkest: 
 2C0735
 4E148C
 613DC1
 858AE3
 97DFFC
*/