@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}
p{
  margin-bottom: 0;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #141414;
}

header{
  background-color: black;
  color: #ffc300;
  width: auto;
}

header .navbar hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 8%;
  width: 100%;
  float: left;
  background-color: black;
}

.font {
  font-family: 'Paytone One', sans-serif;
}

.link {
  padding: 10px;
  margin: 0 0 0 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.link2 {
  padding: 10px;
  margin: 0 0 0 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ffc300;
  border-radius: 5px;
}

.link:hover {
  color: #ffc300;
  transition: 1s;
}

.link2:hover {
  color: white;
  transition: 1s;
}

.filme {
  padding: 50px 0 0 95px;
  color: white;
  text-decoration:underline;
  text-decoration-color: #ffc300;
}


.linkBox{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.userBox{
  display: flex;
  align-items: center;
}

.carousel .carousel-item{
  height: 90vh;
  z-index: -1;
}
.carousel-item img{
  object-fit: cover;
  width: 50vw;
  object-position:35%;
  z-index: -1;
}


.movieGrid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}

.movieCard{
  width: 200px;
}
.movieCard img{
  width: 100%;
  cursor: pointer;
}

/* MODAL */
.modall{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
}
.imgBoxModal img{
  width: 100%;
}
.tMod{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
  color: white;
  text-shadow:   
    0 0 42px rgb(225, 225, 225),
    0 0 82px rgb(225, 225, 225);
}
.descr{
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  max-width: 80%;
  text-align: center;
}
.closeBtn{
  background-image: url('../assets/icon-x-lg.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  filter: invert(1);
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 5%;
}
.imgBoxModal img{
  box-shadow: 0px 0px 30px 10px rgba(255,255,255,0.75);
}

footer {
  margin-top: 0px;
  padding: 25px;
  font-weight: 100px;
}

