body   {
    background-color: #141414;
    color: white;
}
.larg-card   {
    min-width: 18rem;
    max-width: 18rem;
    padding: 0;
    margin-top: 50px;
    margin-left: 100px;
    margin-right:100px;
    margin-bottom: 50px;
}
.corCard {
    background-color: #141414;
    color: #ffc300;
    border-color: #ffc300;
    
    
}
.corBotao  {
    background-color: #ffc300;
    color: #141414;
    border-color: #141414;
    
}
.imagem-card    {
    object-fit: cover;
    height: 300px;
}
.row    {
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
@media  (max-width: 768px)  {
.row    {
   margin-left: 10px;
   margin-right: 10px;
}
}
.titulosenha    {
    padding: 30px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.DivSenha   {
    margin: 15%;
    padding-left: 10%;
    padding-right: 10%;
    border-style: solid;
}
.ContainerSenha {
    display: flex;
    flex-direction: column;
}