*{margin:0;padding:0;box-sizing: border-box;}

body{
    background-image: url("https://i.pinimg.com/originals/2f/88/a9/2f88a9427474343f7275e3b8f6fcc2e1.jpg");
}

form{
    background-color: rgba(0,0,0,.75);
    border-radius: 20px;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
form h3{
    text-align: center;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    

}

form input[type=email],
form input[type=password]{
    background-color: #333;
    width: 100%;
    height: 45px;
    border: 2px solid grey;
    padding-left: 10px;
    margin: 10px 0;
    
}

form input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: red;
    color: white;
    border-style: none;
    border-radius: 4px;
    transition: 1s;
}

form input[type=submit]:hover{
    background-color: rgb(180, 16, 16);
}

.cont{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    margin: 10px 10px;
}

.face_modify{
    color:#395ca7;
    font-size: 18px;
}

.ancor{
    cursor: pointer;
    text-decoration: none;
    color:#737373;
    margin-top: 10px;
    transition: 1s;
}

.ancor:hover{
    color: white;

}

p{
    color: #9c9c9c;
    margin-left: 10px;
}